.sidebar-container {
    margin-left: 0 !important;
    background: @goldDark;
    .box-shadow(2px 0px 4px rgba(24, 18, 12, 0.5));
}

@media (min-width: @navbarCollapseDesktopWidth) {
    .sidebar-container {
      position: fixed;
      margin-left: 0 !important;
      margin-right: @gridGutterWidth !important;
    }
    #content-body {
      position:relative;
      left:-4px;
      .offset(3);
    }
    .anchor-offset { position:relative; top:-@navbarHeight;z-index:5 }
}
